.homepage-container {
    height: 80vh;
}

.homepage {
    color: white;
    position: relative;
    width: 95%;
    height: 96%;
    /* margin-top: 2%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr 2em 1fr 2em 1fr 2em 1fr;
}

.homepage.heading {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 0.1%;
    text-align: left;
}

.homepage.movie-row {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.homepage.twinkle {
    z-index: 99;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 2%;
    margin-left: 2rem;
    opacity: 0;
    animation: star-twinkle 1 6s linear;
}

.homepage.first {
    grid-row: 1;
}

.homepage.second {
    grid-row: 2;
}

.homepage.third {
    grid-row: 3;
}

.homepage.forth {
    grid-row: 4;
}

.homepage.fifth {
    grid-row: 5;
}

.homepage.sixth {
    grid-row: 6;
}

.homepage.seventh {
    grid-row: 7;
}

.homepage.eightth {
    grid-row: 8;
}

.homepage.first-row::-webkit-scrollbar {
    display: none;
}

@keyframes star-twinkle {
    0% {transform: scale(1); opacity: 0;}
    90% {transform: scale(1); opacity: 1;}
    97% {transform: scale(10); opacity: 1;}
    100% {transform: scale(1); opacity: 0;}
}