.review-view-component {
    display: flex;
    height: 80vh;
}

.review-view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    height: 60vh;
    width: 80vw;
    max-width: 800px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #F890E7;
}

.review-header-text {
    margin: 0px;
}

.review-subheader-text {
    font-size: 15px;
}

.review-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    
}

.review-input-field{
    width: 99%;
    height: 100%;
    padding-bottom: 25em;
    padding-left: 1em;
    resize: none;
    overflow: hidden;
}

.review-input-field::placeholder {
    color: lightgray;
}

.review-submit {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 44px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: #0BD3D3;
    font-weight: bold;
}

.review-terms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.review-terms-text{
    font-size: 10px;
}