.loginComponent {
    display: flex;
    height: 80vh;
}

.login-registration-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    height: 50vh;
    width: 80vw;
    max-width: 800px;
    border: 2px solid white;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background: black;
}

.call-to-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #F890E7;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background: white;
}

.textInput {
    height: 62px;
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #0BD3D3;
}

.newCustomerText {
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    font-weight: 700;
}

.status-message-container-login {
    font-size: 16px;
    height: 100px;
    width: 80%;
    align-self: center;
}

.status-message-container-registration {
    font-size: 16px;
    width: 80%;
    align-self: center;
}

.login-end-screen {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 800px;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background: black;
}

.login-end-screen img {
    height: 80%;
    width: 80%;
    object-fit: contain ;
}