.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 4px solid #0BD3D3;
    background: #FFFFFF;
}

.menuButton {
    flex-direction: column;
    background: white;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    height: 50;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.menuRow {
    height: 3px;
    width: 25px;
    margin-top: 5px;
    background: black;
}

.menuRowOpenA {
    height: 3px;
    width: 40px;
    margin-top: 3.5px;
    transform: rotate(45deg);
    background: black;
}

.menuRowOpenB {
    height: 3px;
    width: 40px;
    margin-top: -1.5px;
    transform: rotate(135deg);
    background: black;
}

.shoppingcartButton {
    margin-right: 10px;
}

.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchButton img {
    width: 20px;
    height: 20px;
}