
.genreList {
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
  
  #genresText {
      padding: 15px 0 0 0;
      color: white;
      font-size: 23px;
  }
  .genreItems {
    padding: 0 0 10px 0;
    font-size: 18px;
    color: white;
  }
  
  .genreSidebar {
    background: rgb(44, 44, 44);
    width: 170px;
    height: 812px;
    border: 1px solid white;
    border-radius: 0 10px 10px 0;
  }
  
  .genreItemsContainer {
    padding-top: 25px;
  }