.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    max-width: 1000px;
    min-width: 375px;
    border-top: 4px solid #F890E7;
    background: #FFFFFF;
}

.buttonImage {
    width: 40px;
    height: 40px;
}

.buttonImageClicked {
    width: 35px;
    height: 35px;
}

.profileButtonLoggedIn {
    background: #548F25;
}