.search-component {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.pages{
    color: white;
    text-align: center;
    font-size: 15px;
}

.pages span {
    padding-left: 1em;
    padding-right: 1em;
}

