.basketCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: 1px solid black;
    position: absolute;
<<<<<<< HEAD
    top: 40px;
=======
    bottom: 5px;
>>>>>>> minor css changes && removed some unecessary code
    right: 10px;
    color: white;
    font-weight: bold;
    background: #548F25;
}