.App {
  height: 100vh;
  display: grid;
  position: relative;
  grid-template-columns: 1fr minmax(375px, 1000px) 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
  justify-content: center;

}

.left-side {
  grid-column: 1;
  grid-row: 1 / -1;
  background-image: linear-gradient(to bottom right,#000000, #555555);
}

.center {
  grid-column: 2;
  grid-row: 1 / -1;
  background-color: transparent;
}

.right-side {
  grid-column: 3;
  grid-row: 1 / -1;
  background-image: linear-gradient(to bottom right,#000000, #555555);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
