.openMenu {
    position: fixed;
    height: calc(80vh - 2px);
    background: 'gray';
    z-index: 10;
    border-right: '1px solid black';
    border-radius: '0px 10px 10px 0px';
}

.closedMenu {
    position: fixed;
    width: 0px;
    overflow: hidden;
    left: 0px;
    z-index: 10;
}